/* build time:Tue Oct 26 2021 20:37:42 GMT+0800 (中国标准时间)*/
.ma-bilibili{background-image:url(../FontIcon/icons/CN_bilibili_B.svg);background-repeat:no-repeat;height:13px;background-position:bottom;text-align:center;line-height:1}
/* rebuild by neat */